
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Alias</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Alias</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Alias</h5>

            <!-- Accordion without outline borders -->
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Choisir l'adresse de paiement
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <form class="row g-3 needs-validation was-validated" novalidate>

                      <div class="col-12">
                        <label for="alias" class="form-label">Alias</label>
                        <div class="input-group has-validation">
                          <input type="text" name="alias" class="form-control" id="alias" placeholder="Alias" required>
                          <div class="invalid-feedback">Saisir votre Alias.</div>
                        </div>
                      </div>


                      <button class="btn btn-primary-green w-100" type="submit">Continuer</button>
                    </form>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Choisir Numero de Telephone
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <form class="row g-3 needs-validation was-validated" novalidate>

                      <div class="col-12">
                        <label for="phone" class="form-label">Phone Number</label>
                        <div class="input-group has-validation">
                          <select name="country_code" class="form-select form-select-sm" id="country_code">
                            <option value="+1">+1 (USA)</option>
                            <option value="+44">+44 (UK)</option>
                            <!-- Add more country codes as needed -->
                          </select>
                          <input type="text" name="phone_number" class="form-control" id="phone" placeholder="Phone Number" required>
                          <div class="invalid-feedback">Saisir phone number.</div>
                        </div>
                      </div>

                      <button class="btn btn-primary-green w-100" type="submit">Continuer</button>
                    </form>

                  </div>
                </div>
              </div>

            </div><!-- End Accordion without outline borders -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->
