<main id="main" class="main">

  <div class="pagetitle">
    <h1>Transactions</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Transactions</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <div class="card">
    <div class="card-body">

      <!-- Bordered Tabs Justified -->
      <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="Compte" aria-selected="true">Compte</button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="Abonnements" aria-selected="false">Abonnements</button>
        </li>
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-contact" type="button" role="tab" aria-controls="Economie" aria-selected="false">Economie</button>
        </li>
      </ul>
      <div class="tab-content pt-2" id="borderedTabJustifiedContent">
        <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
          <section class="section dashboard">
            <div class="row">

              <!-- Left side columns -->
              <div class="col-lg-12">
                <div class="row">

                  <!-- Sales Card -->
                  <div class="col-xxl-4 col-md-6">
                    <a routerLink="/transferer" class="card-link">
                      <div class="card info-card sales-card">
                        <div class="card-body d-flex flex-column align-items-center justify-content-center" style="height: 200px;">
                          <h5 class="card-title mb-0">Transferer </h5>
                          <div class="d-flex align-items-center mt-3">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                              <img src="assets/img/outcoming.png" alt="">
                            </a>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div><!-- End Sales Card -->


                  <!-- Revenue Card -->
                  <div class="col-xxl-4 col-md-6">
                    <a href="link_to_revenue_page" class="card-link">
                      <div class="card info-card revenue-card">
                        <div class="card-body d-flex flex-column align-items-center justify-content-center" style="height: 200px;">
                          <h5 class="card-title mb-0">Recevoir </h5>
                          <div class="d-flex align-items-center mt-3">
                            <a href="#" class="logo d-flex align-items-center w-auto">
                              <img src="assets/img/incoming.png" alt="">
                            </a>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div><!-- End Revenue Card -->

                  <!-- Customers Card -->
                  <div class="col-xxl-4 col-xl-12">
                    <a href="link_to_customers_page" class="card-link">
                      <div class="card info-card customers-card">
                        <div class="card-body d-flex flex-column align-items-center justify-content-center" style="height: 200px;">
                          <h5 class="card-title mb-0">Plus </h5>
                          <div class="d-flex align-items-center mt-3">
                            <div class="dropdown">
                              <button class="btn btn-transparent" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-center dropdown-menu-lg" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div><!-- End Customers Card -->


                  <!-- Sales Card -->
                  <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                      <div class="card-body">
                        <h5 class="card-title">Solde </h5>

                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-currency-dollar"></i>
                          </div>
                          <div class="ps-3">
                            <h6>145</h6>
                            <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                          </div>
                        </div>
                      </div>

                    </div>
                  </div><!-- End Sales Card -->

                  <!-- Revenue Card -->
                  <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">

                      <div class="card-body">
                        <h5 class="card-title">Reçu </h5>

                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-cart"></i>
                          </div>
                          <div class="ps-3">
                            <h6>$3,264</h6>
                            <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                          </div>
                        </div>
                      </div>

                    </div>
                  </div><!-- End Revenue Card -->

                  <!-- Customers Card -->
                  <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">


                      <div class="card-body">
                        <h5 class="card-title">Transfert </h5>

                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people"></i>
                          </div>
                          <div class="ps-3">
                            <h6>1244</h6>
                            <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                          </div>
                        </div>

                      </div>
                    </div>

                  </div><!-- End Customers Card -->


                  <!-- Top Selling -->
                  <div class="col-12">
                    <div class="card top-selling overflow-auto">

                      <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                          </li>

                          <li><a class="dropdown-item" href="#">Today</a></li>
                          <li><a class="dropdown-item" href="#">This Month</a></li>
                          <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                      </div>

                      <div class="card-body pb-0">
                        <h5 class="card-title">Transactions </h5>

                        <table class="table table-borderless">
                          <thead>
                          <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prix</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <th scope="row"><a href="#"><img src="assets/img/incoming.png" alt=""></a></th>
                            <td><a href="#" class="text-bg-light fw-bold">Ut inventore ipsa voluptas nulla</a></td>
                            <td class="fw-bold">$64</td>
                          </tr>
                          <tr>
                            <th scope="row"><a href="#"><img src="assets/img/outcoming.png" alt=""></a></th>
                            <td><a href="#" class="text-bg-light fw-bold">Exercitationem similique doloremque</a></td>
                            <td class="fw-bold">$46</td>
                          </tr>
                          </tbody>
                        </table>

                      </div>

                    </div>
                  </div><!-- End Top Selling -->

                </div>
              </div><!-- End Left side columns -->



            </div>
          </section>
        </div>
        <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
          Nesciunt totam et. Consequuntur magnam aliquid eos nulla dolor iure eos quia. Accusantium distinctio omnis et atque fugiat. Itaque doloremque aliquid sint quasi quia distinctio similique. Voluptate nihil recusandae mollitia dolores. Ut laboriosam voluptatum dicta.
        </div>
        <div class="tab-pane fade" id="bordered-justified-contact" role="tabpanel" aria-labelledby="contact-tab">
          Saepe animi et soluta ad odit soluta sunt. Nihil quos omnis animi debitis cumque. Accusantium quibusdam perspiciatis qui qui omnis magnam. Officiis accusamus impedit molestias nostrum veniam. Qui amet ipsum iure. Dignissimos fuga tempore dolor.
        </div>
      </div><!-- End Bordered Tabs Justified -->
    </div>
  </div>
</main><!-- End #main -->
