<main id="main" class="main">

  <div class="pagetitle">
    <h1>Home</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row align-items-top">
      <div class="col-lg-6">
        <!-- Card with an image overlay -->
        <a routerLink="/alias" >
          <div class="card">
            <img src="assets/img/home2.png" class="card-img-top" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Alias</h5>
              <p class="card-text">Recuperer votre propre Alias ? </p>
            </div>
          </div><!-- End   Card with an image overlay -->
        </a>
      </div>

      <div class="col-lg-6">
        <!-- Card with an image overlay -->
        <a routerLink="/transactions">
        <div class="card">
          <img src="assets/img/home3.jpg" class="card-img-top" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Transfert</h5>
            <p class="card-text">Ton espace securisé pour l'echange de l'argent.</p>
          </div>
        </div><!-- End Card with an image overlay -->
        </a>
      </div>
    </div>
  </section>

</main><!-- End #main -->
